/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  1. vi tri
    2. kich thuoc
    3. mau sac
    4. kieu dang 
*/

/* common */
.clear {
    clear: both;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    scroll-behavior: smooth;
}

#nav, .subnav {
    list-style-type: none;
}

ul, li {
    list-style: none;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.pull-right {
    float: right !important;
}
/* main */

#header {
    height: 50px;
    width: 100%;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: inline-block;
}

#nav .nav-arrow-down {
    color: #fff;
    font-size: 10px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
    font-size: 20px;
    font-weight: 550;
}

#nav li:hover a i{
    color: #000;
}


#nav .subnav {
    display: none;
    background-color: #fff;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a { 
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover a {
    color: #000;
    font-size: 20px;
    font-weight: 550;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

/* ------------------------------- */
#slider {
    position: relative;
    margin-top: 50px;
    padding-top: 50%;
    background: url('/assets/image/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 25px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 20px;
}

/* ------------------------------- */

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

#content .section-sub-heading {
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #6e6c6cbb;
}

#content .about-text {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: calc(100% /3);
    text-align: center;

}

#content .member-name {
    font-size: 15px;
}

#content .member-avatar {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tour-section .section-heading {
    color: #fff;
}

.ticskets-list {
    background-color: #fff;
    margin-top: 40px;    
    list-style-type: none;

}

.ticskets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticskets-list .solt-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticskets-list .quantity {
    float: right;
    width: 26px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* place */
.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}

.place-heading {
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-decs {
    margin-top: 15px;
    line-height: 1.4;

}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    text-align: center;
    padding: 12px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

/* Contact */
/* ------------------------------- */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 180px;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-header i {
    margin-right: 15px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;

}

.modal-close:hover {
    background-color: #ccc;
}

.modal-body {
    padding: 12px;
}

.modal-label {
    display: block;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    margin-bottom: 18px;
}

#buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 17px;
    cursor: pointer;
    font-weight: 590;
}

#buy-tickets:hover {
    background: #757575;
    color: #fff;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;

}

.modal-btn-close {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px;
    background: #009688;
    margin-left: 12px;
    margin-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.modal-btn-close:hover {
    background: #f44336;
    color: #000;
}
/* contact */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 24px;
}

.contact-info i[class*="bx"]{
    display: inline-block;
    width: 25px;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

/* map section */

.map-section img {
    width: 100%;
}

/* footer */

#footer {
    padding: 64px 16px;
    text-align: center;
}

.social-list a {
    font-size: 26px;
    color: #757575;
    
}

.social-list a:hover {
    opacity: 0.6;
}

.copyright {
    font-size: 15px;
    color: #757575;
    margin-top: 15px;
}

.copyright a {
    color: #757575;
}

/* modal */
.open {
    display: flex;
}

.close {
    display: none;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}